// brand colors
$darkerOrange: rgb(255, 65, 0);
$orange: rgb(232, 103, 24);
$semiTransparentOrange: rgba(232, 103, 24, 0.8);

// blacks
$black: #000;
$semiTransparentBlack: rgba(0, 0, 0, 0.4);
$transparentBlack: rgba(0, 0, 0, 0.1);

// grey
$grey: rgb(100, 100, 100);
$darkerGrey: rgb(50, 50, 50);

// whites
$semiTransparentWhite: rgba(255, 255, 255, 0.9);
$semiTransparentWhite2: rgba(255, 255, 255, 0.8);