.reddit-post {
    width: 250px;

    display: inline-block;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 250px;
    overflow: hidden;

    &_title {
        font-size: 16px;

        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;
    }
}