@import '../globals';

.reddit-post {
    width: 250px;

    padding: 15px;
    margin: 10px;
    border: 1px solid $black;
    border-radius: 5px;
    height: 250px;
    overflow: hidden;

    display: inline-flex;
    flex-direction: column;

    &__title {
        font-size: 16px;

        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;

        margin-top: 0;
        margin-bottom: 5px;

        flex-shrink: 0.25;
    }

    &__content {
        flex-basis: 100%;
        flex-shrink: 0.75;
        flex-grow: 0;
        overflow: hidden;

        background: linear-gradient(
            to bottom,
            transparent 0%,
            transparent 95%,
            $semiTransparentBlack 100%
        );
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 14px;
    }

    &__img {
        float: right;
    }

    &__link {
        font-size: 12px;
        text-decoration: none;
        transition: all 0.3s ease-out;
        display: inline-block;
        margin-right: 0;
        margin-left: auto;

        &:hover {
            padding: 3px;
            border-radius: 3px;
            background-color: $transparentBlack;
            color: $orange;
        }
    }

    &__separator{
        border-top: 1px solid $semiTransparentBlack;
        width: 100%;
        margin: 5px 0;
    }
}
