@import '../globals';

.reddit-list {
    &__posts {
        margin: 5px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__header {
        margin: 5px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;

        background-color: $semiTransparentOrange;

        padding: 5px;
        border-radius: 3px;
    }
}
